<app-header></app-header>

<div class="position">
    <div class="board">
        <mat-grid-list class="grid-list" cols="3" rowHeight="30%" gutterSize="15px">

            <button class="tile-button">    <mat-grid-tile (click)="makeMove1()" class="grid-tile">{{ btnVal1 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove2()" class="grid-tile">{{ btnVal2 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove3()" class="grid-tile">{{ btnVal3 }}</mat-grid-tile>      </button>

            <button class="tile-button">    <mat-grid-tile (click)="makeMove4()" class="grid-tile">{{ btnVal4 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove5()" class="grid-tile">{{ btnVal5 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove6()" class="grid-tile">{{ btnVal6 }}</mat-grid-tile>      </button>

            <button class="tile-button">    <mat-grid-tile (click)="makeMove7()" class="grid-tile">{{ btnVal7 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove8()" class="grid-tile">{{ btnVal8 }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove9()" class="grid-tile">{{ btnVal9 }}</mat-grid-tile>      </button>

        </mat-grid-list>
    </div>
</div>

<div>
    <button (click)="newGame()">Reset</button>
</div>

