.position {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.board {
    min-height: 600px;
    background-color: white;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.grid-tile {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow:rgba(0, 0, 0, 0.188);
}

.tile-button {
    background-color: white;
    border: 0px solid white;
}