<app-header></app-header>

<div class="position">
    <div class="board">
        <mat-grid-list class="grid-list" cols="3" rowHeight="30%" gutterSize="15px">

            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>

            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>

            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>
            <button class="tile-button">    <mat-grid-tile (click)="makeMove()" class="grid-tile">{{ btnVal }}</mat-grid-tile>      </button>

        </mat-grid-list>
    </div>
</div>

<div>
    <button (click)="newGame()">Reset</button>
</div>

