<app-header></app-header>

<div class="container">

    <div class="board">
        <mat-grid-list cols="3">
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
            <mat-grid-tile class="grid-tile"></mat-grid-tile>
        </mat-grid-list>
    </div>

</div>

