.position {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.position2 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-left: 200px;
    padding-right: 200px;
}

.board {
    min-height: 600px;
    width: 600px;
    background-color: white;
    border: 0px solid;
    position: relative;
}

.grid-list {
    padding-top: 60px;
}

.grid-tile {
    background-color: rgb(250, 249, 249);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.218);
    box-shadow:rgba(0, 0, 0, 0.188);
    height: 10px;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tile-button {
    background-color: white;
    border: 0px solid white;
}

.turnDisplay {
    font-weight: bold;
}
